<!DOCTYPE html>
<html>
  <head>
    <title>{{ author }}'s app</title>
  </head>

  <body>

   <form action="/signup" method="post">
  <p> email </p>
  <input type="text" name="email"></input>

       <p> What is your name?  </p>
  <input type="text" name="r1"></input>

      <p> Where do you live? </p>
  <input type="text" name="r2"></input>

      <p> What is your job? </p>
  <input type="text" name="r3"></input>

      <p> What is your job? </p>
  <input type="text" name="r4"></input>

      <p> What is your biggest fear? </p>
  <input type="text" name="r4"></input>

      <p> What is your biggest regret? </p>
  <input type="text" name="r5"></input>

      <p> Who are the people in your life that you love the most? </p>
  <input type="text" name="r6"></input>

       <p> What is a pet peeve of yours? </p>
  <input type="text" name="r7"></input>

      <p> What do you do for fun? </p>
  <input type="text" name="r8"></input>

     <p> What is something you are really good at doing? </p>
  <input type="text" name="r9"></input>

       <p> What time of day is it? </p>
  <input type="text" name="r10"></input>

       <p> What is the weather like? </p>
  <input type="text" name="r11"></input>






<br>
  <input type="submit" value="Signup"></input>

</form>
  </body>
</html>